@import "../../../../../styles/variables";

.header-promo {
  background-color: var(--blue);
}

.header-promo__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.header-promo__logo {
  background-image: url('../../../../../assets/images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 131px;
  height: 26px;
  cursor: pointer;
}

.header-promo__start {
  display: flex;
}

.header-promo__inner {
  display: flex;
}

.header-promo__link {
  color: var(--white);
  font-size: 15px;
  line-height: 32px;
  transition: .3s;
}

.header-promo__item {
  position: relative;
}

.promo-active-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--white);
  transition: .3s;
  border-radius: 3px;
  bottom: -16px;
}

.header-promo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 90px;
  justify-content: space-between;
  width: 300px;
}

.header-promo-btn {
  display: flex;
}

.secondary-btn {
  background-color: var(--dark-blue);
  color: var(--white);
  font-size: 15px;
  line-height: 32px;
  width: 180px;
  height: 40px;
  border-radius: 25px;
  padding: 11px 20px;
  margin-right: 20px;
}

.secondary-light-btn {
  background-color: var(--white);
  color: var(--blue);
  font-size: 15px;
  line-height: 32px;
  width: 101px;
  height: 40px;
  border-radius: 25px;
  padding: 11px 20px;
}