@import "../../../styles/variables.scss";

.learn-word {
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learn-word-card {
  margin: 20px;
  padding: 40px 40px;
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--white);
  border: 2px solid #F2FBFF;
  border-radius: 40px;
  opacity: 1;
  box-shadow: 1px 1px 8px 1px var(--gray);

  color: #6B83B3;

  & > hr {
    width: 100%;
    border-top: 1px solid var(--dark-gray);
  }

  & > span {
    margin: 20px 0;
  }

  & > span:first-child {
    font-weight: 700;
    font-size: 18px;
  }

  & > span:nth-child(2) {
    font-weight: 700;
    font-size: 18px;
  }
}

.arrow {
  display: flex;
  align-items: center;

  font-size: 40px;
  font-weight: 700;
  color: var(--gray);

  cursor: pointer;

  &:hover {
    color: black;
  }
}

.learn-word-card > div {
  padding-bottom: 10px;
}

.learn-word-card__translation {
  color: #3D4B66;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;
  text-transform: capitalize;
}

.learn-word-card__word,
.learn-word-card__description {
  color: #6B83B3;
  letter-spacing: 0;
  opacity: 1;
}

.learn-word-card__word {
  vertical-align: middle;
}

.learn-word-card__word-sound,
.learn-word-card__word-preview {
  cursor: pointer;
  vertical-align: middle;
}

.learn-word-card__word-sound {
  margin-left: 5px;
}

.learn-word-card__word-preview {
  float: right;
}

.learn-word-card__description {
  line-height: 24px;
}

.learn-word-card__actions img,
.learn-word-card__actions span {
  vertical-align: middle;
}

.learn-word-card-action__harden,
.learn-word-card-action__learn {
  color: var(--blue);
}

.learn-word-card-action__remove {
  color: var(--red);
  float: right;
}

.learn-word-card-action__restore {
  color: var(--green);
  float: right;
}
