<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="statistics">
        <div class="wrapper">
            <div class="statistic">
                <div class="statistic__icon"><img src="../../../assets/images/statistics/gym__statistics.svg" alt="Gym image" class="statistic__image"></div>
                <div class="statistic__title">
                    <h3 class="statistic__subtitle"></h3>
                    <p class="statistic__details">Карточек завершено:</p><p class="statististic__details--align_left">1</p>
                    <p class="statistic__details">Правильные ответы:</p><p class="statististic__details--align_left">1</p>
                    <p class="statistic__details">Новые слова:</p><p class="statististic__details--margin_left">1</p>
                    <p class="statistic__details">Самая длинная серия правильных ответов: </p><p class="statististic__details--margin_left">1</p>
                </div>
            </div>
            <div class="graph"></div>
        </div>
    </section>
</body>
</html>