.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--black), .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(var(--black), .3);
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 50%;
    background-color: var(--black);
    box-shadow: 0 2rem 4rem rgba(var(--black), .2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;
    padding: 2rem;
    &__control-section {
      background-color: red;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 35px;
      &--information-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      &--logo {
        background-image: url('/assets/images/settings-icon.png');
        height: 2rem;
        width: 2rem;
      }
      &--name {
        font: Bold var(--unnamed-font-size-21)/var(--unnamed-line-spacing-32) var(--unnamed-font-family-rubik);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--gray);
        text-align: left;
        opacity: 1;
      }
    }
    &__settings-section {
      background-color: blue;
    }
    &__save-button {
      background-color: green;
    }
  }

  &__text {
    font-size: 1.4rem;
    text-align: center;
  }

  &__close {
    &:link,
    &:visited {
      color: var(--green);
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: var(--green);
    }
  }
}
.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 16px;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(var(--black),.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(var(--back),.2);
    }

    &--white {
        background-color: var(--white);
        color: var(--gray);

        &::after {
            background-color: var(--white);
        }
    }

    &--green {
        background-color: var(--green);
        color: var(--white);

        &::after {
            background-color: var(--green);
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.switch-container {
  position: relative;
  &__content {
    top: 0;
    right: 0;
    position: absolute;
    width: 12rem;
    height: 4.5rem;
    background-color: var(--gray);
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  }
  &__input {
    display: none;
  }
  &__label {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    text-transform: capitalize;
    border-radius: inherit;
    background-color: var(--green);
    font-size: 1.6rem;
    &:before,
    &:after {
      color: var(--white);
      position: absolute;
      top: 1.3rem;
    }
    &:before {
      content: attr(data-off);
      right: 1.5rem;
    }
    &:after {
      content: attr(data-on);
      opacity: 0;
      left: 1.5rem;
    }
  }
  &__handle {
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    background: var(--white);
    border-radius: 5px;
    transition: all .2s ease-out;

  }
}
.switch-container__input:checked ~ .switch-container__label {
  background-color: var(--blue);
}
.switch-container__input:checked ~ .switch-container__label:before {
  opacity: 0;
}
.switch-container__input:checked ~ .switch-container__label:after {
  opacity: 1;
}
.switch-container__input:checked ~ .switch-container__handle {
  left: 8.25rem;
}
