.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--black), .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(var(--black), .3);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    background-color: var(--white);
    box-shadow: 0 2rem 4rem rgba(var(--black), .2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.25);
    transition: all .5s .2s;
    padding: 2rem;
  }

  &__text {
    font-size: 1.4rem;
    text-align: center;
  }

  &__close {
    &:link,
    &:visited {
      color: var(--green);
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
    }

    &:hover {
      color: var(--green);
    }
  }
}
