:root {

--white: #FFFFFF;
--gray: #6B83B3;
--bg-blue: #D9F2FF;
--dark: #3D4B66;
--blue-light-gray: #F2FBFF;
--blue: #00A8FF;
--green: #00FF8A;
--red: #FF0080;
--dark-blue: #004CFF;
--bg-green: #D9FFE2;
--black: #000;
}
