@import "../../../styles/mixins";
@import "../../../index.scss";

.audiocall {
  &__container {
    position: relative;
  }
  &__close-game-button {
    &,
    &:link,
    &:visited {
      position: absolute;
      top: 10px;
      right: 10px;
      color: var(--green);
      font-size: 45px;
      font-weight: 900;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1;
      cursor: pointer;
    }

    &:hover {
      color: var(--blue);
    }
  }
  &__confirm-exit-popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3);
    }

    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 320px;
      background-color: var(--white);
      box-shadow: 0 20px 40px rgba(var(--black), .2);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      opacity: 0;
      transform: translate(-50%, -50%) scale(.25);
      transition: all .5s .2s;
      padding: 50px;
      box-sizing: content-box;
      @include respond(phone) {
        width: 290px;
        padding: 30px 15px;
      }

      &__heading {
        color: var(--blue);
        margin-bottom: 20px;
        font-weight: var(--font-style-bold);
        font-size: var(--font-size-21);
      }

      &__text {
        color: var(--dark);
        margin-bottom: 20px;
        text-align: center;
        font-weight: var(--font-style-regular);
        font-size: var(--font-size-17);
      }
    }
  }
}
.btn {
    &,
    &:link,
    &:visited {
        text-transform: none;
        text-decoration: none;
        box-sizing: border-box;
        padding: 15px 45px;
        width: 165px;
        display: inline-block;
        border-radius: 15px;
        transition: all .2s;
        border: none;
        cursor: pointer;
        position: relative;
        font-weight: bold;
        font-size: var(--unnamed-font-size-15);
        line-height: var(--unnamed-line-spacing-32);
        color: var(--white);
        text-align: center;
        background-color: var(--green);
        color: var(--white);
        @include respond(phone) {
          padding: 7px 44px;
          text-transform: none;
        }
    }
    &--blue {
      background-color: var(--blue);
      color: var(--white);
      font-weight: 600;
      font-size: var(--unnamed-font-size-15);
      line-height: var(--unnamed-line-spacing-32);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--white);
      &::after {
        background-color: var(--blue);
        border-radius: 15px;
      }
    }
    &--green {
      &::after {
        background-color: var(--green);
      }
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(var(--black),.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5px 10px rgba(var(--back),.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
