@import "../../../styles/variables.scss";

.dictionary {
	background-color: var(--white);
}
.dictionary-menu {
  display: flex;
  justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}
.dictionary-menu__item {
	position: relative;
	text-align: center;
}
.dictionary-menu__item--active::before {
  background-color: var(--blue);
  border-radius: 3px;
  bottom: 0;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  transition: .3s;
	width: 100%;
}
.dictionary-menu__item a {
  color: var(--gray);
  display: block;
  font-size: 17px;
  line-height: 32px;
	padding: 30px;
	text-decoration: none;
}
.dictionary__card-list {
	margin: 30px 0;
	text-align: left;
}
.dictionary-card {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 2px solid #F2FBFF;
	border-radius: 40px;
  display: inline-block;
  margin: 10px;
  opacity: 1;
  padding: 30px;
	width: 30%;
}
.dictionary-card > div {
	padding-bottom: 10px;
}
.dictionary-card__translation {
  color: #3D4B66;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  opacity: 1;	
	text-transform: capitalize;
}
.dictionary-card__word,
.dictionary-card__description {
  color: #6B83B3;
  letter-spacing: 0;
	opacity: 1;	
}
.dictionary-card__word {
  vertical-align: middle;
}
.dictionary-card__word-sound,
.dictionary-card__word-preview {
  cursor: pointer;
  vertical-align: middle;
}
.dictionary-card__word-sound {
  margin-left: 5px;
}
.dictionary-card__word-preview {
  float: right;
}
.dictionary-card__description {
  line-height: 24px;
}
.dictionary-card__actions img,
.dictionary-card__actions span {
  vertical-align: middle;
}
.dictionary-card-action__harden,
.dictionary-card-action__learn {
  color: var(--blue);
}
.dictionary-card-action__remove {
  color: var(--red);
  float: right;
}
.dictionary-card-action__restore {
  color: var(--green);
  float: right;
}