@import "../../../../styles/variables";
@import "../../../../index.scss";
@import "../../../../styles/mixins";

.footer {
  width: 100%;
  height: 90px;
  padding: 39px 0;
  margin: 0 auto;
  background-color: var(--white);
}

.footer__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  @include respond(tab-land) {
  width: 900px;
  }
  @include respond(tab-port) {
    padding: 0 24px;
    width: 600px;
  }
  @include respond(phone) {
    padding: 0 20px;
    width: auto;
  }
}

.footer__text {
  margin: 0;
  text-align: left;
  font-size: var(--font-size-17);
  line-height: var(--line-spacing-25);
  color: var(--gray);
  @include respond(phone) {
    font-size: var(--font-size-11);
  }
}

.footer__link {
  cursor: pointer;
  color: var(--gray);
}

.footer__link:hover {
  color: var(--green);
}