@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

html, body, main {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

.Index__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/savanna-jungle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s linear;
    opacity: 1;
    z-index: 1;
}

.Index__wrapper.disabled {
    opacity: 0;
}

.Index__titleText {
    margin: 0;
    position: absolute;
    top: calc(50% - 80px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 170px;
    font-family: 'Modak', cursive;
    text-shadow: white 7px 7px 0, white -7px -7px 0,
    white -7px 7px 0, white 7px -7px 0;
}

.Index__startBtn {
    display: flex;
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 60px;
    height: 6%;
    background-color: transparent;
    border: 0;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    white-space: nowrap;
    outline: none;
}
.Index__startBtn:hover,
.Index__startBtn:active {
    color: lightgreen;
    text-shadow: 2px 2px 2px rgb(113, 113, 113);
}

.Content__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/savanna-jungle2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: 0.8s linear;
    z-index: 0;
}

.Content__wrapper.enabled {
    opacity: 1;
}

.Content__backBtn {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-radius: 45px;
    border: 0;
    padding-left: 0;
    text-align: center;
    font-size: 50px;
    background-color: white;
    color: green;
    opacity: 0.8;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    font-weight: bold;
    outline: none;
}

.Content__backBtn:hover,
.Content__backBtn:active {
    background-color: #4b4b4b;
    color: lightgreen;
}

.Content__wordContentWrapper {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 90%;
    height: 20%;
}

.Content__wordContent {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 23%;
    min-width: 120px;
    height: 48%;
    background-color: white;
    border-radius: 30px;
    padding-right: 20px;
    opacity: 0.9;
}

.Content__wordContent:hover {
    background-color: #4b4b4b;
    color: lightgreen;
}

.Content__wordNum {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    background-color: rgba(77, 118, 49, 0.8);
    border-radius: 50%;
    margin-left: 20px;
    font-weight: bold;
}

.Content__wordParagraph {
    font-size: 20px;
    width: 100%;
    word-wrap: break-word;
    padding-left: 10px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.Content__lifesContainer {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 60px;
    background-color: white;
    opacity: 0.8;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bold;
    color: green;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.Content__fallingWord {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    font-size: 80px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-shadow: white 2px 2px 0, white -2px -2px 0,
    white -2px 2px 0, white 2px -2px 0;
}

.Content__fallingWord.animate {
    animation-name: falling-word;
    animation-duration: 6s;
}

@keyframes falling-word {
    0% {
        top: 0;
        opacity: 1;
    }
    10% {
        opacity: 1;
    }

    30% {
        opacity: 0.5
    }

    50% {
        opacity: 0;
    }

    100% {
        top: 100%;
    }
}

@media (max-width: 791px) {
    .Index__titleText {
        font-size: 80px;
        text-shadow: white 6px 6px 0, white -6px -6px 0,
        white -6px 6px 0, white 6px -6px 0;
    }

    .Index__startBtn {
        font-size: 40px;
    }

    .Content__wordContentWrapper {
        align-items: flex-start;
        flex-wrap: wrap;

    }

    .Content__wordContent {
        width: 40%;
    }

    .Content__wordContent:first-child {
        margin-bottom: 10px;
    }

    .Content__fallingWord {
        font-size: 60px;
    }
}

    @media (max-width: 491px) {
        .Content__wordContent {
            margin-bottom: 10px;
        }

        .Content__wordContent {
            width: 80%;
        }

        .Content__wordContentWrapper {
            height: auto;
        }

        .Content__lifesContainer {
            width: 180px;
            height: 60px;
            font-size: 30px;
        }

        .Content__fallingWord {
            font-size: 35px;
        }
    }
