@import "../../../styles/variables";

.card__wrapper {
  position: absolute;
  top: 210px;
  left: 40px;
  height: 580px;
  width: 720px;
  border: 2px solid yellow;
}

.card__container {
  width: 720px;
  height: 480px;
  border: 2px solid red;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 40px 40px #00A8FF0D;
  border-radius: 60px;
  opacity: 1;
}

.card__containerWrapper {
  margin: 80px 60px 0 60px;
}

.card__text {
  width: 600px;
  height: 153px;
  font: Bold 59px/74px Rubik;
  letter-spacing: 0;
  color: #3D4B66;
  text-align: left;
  margin-bottom: 37px;
  word-wrap: break-word;
}

.card__text.smallSize {
  font: Bold 48px/60px Rubik;
}

.card__text.microSize {
  font: Bold 33px/50px Rubik;
}

.card__text.nanoSize {
  font: Bold 22px/35px Rubik;
}

.card__startText {
  display: inline;
}

.card__endText {
  display: inline;
}

.card__input {
  padding-left: 20px;
  outline:none;
  font: 21px/32px Rubik;
  height: 60px;
  max-width: 160px;
  background: #F2FBFF 0 0 no-repeat padding-box;
  border: 1px solid #F2FBFF;
  border-radius: 15px;
  vertical-align: middle;
}

.card__input.smallSize {
  height: 50px;
}

.card__input.microSize,
.card__input.nanoSize  {
  height: 30px;
}

.card__translateText {
  width: 600px;
  height: 40px;
  text-align: left;
  font: 21px/32px Rubik;
  letter-spacing: 0;
  color: #6B83B3;
  border-bottom: 1px solid #D9F2FF;
  margin-bottom: 10px
}

.card__wordType {
  width: 600px;
  height: 20px;
  text-align: left;
  font: Regular 11px/17px Rubik;
  letter-spacing: 0;
  color: #6B83B3;
  margin: auto auto 55px;
}

.card__handlers {
  display: flex;
  justify-content: space-between;
  border: 2px solid blue;
  width: 100%;
}

.card_btnDelete {
  width: 70px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font: Medium 15px/32px Rubik;
  letter-spacing: 0;
  color: #FF0080;
}

.card_btnTransfer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 180px;
  height: 20px;
  text-align: left;
  font: Medium 15px/32px Rubik;
  letter-spacing: 0;
  color: #004CFF;
}

.card_btnShowAnswer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170px;
  height: 30px;
  background: #F2FBFF 0 0 no-repeat padding-box;
  box-shadow: 0 2px 1px #00A8FF1A;
  border-radius: 15px;
  text-align: center;
  font: Regular 15px/32px Rubik;
  letter-spacing: 0;
  color: #00A8FF;
}

.card__wordTranslate {
  text-align: left;
  font: Bold 17px/32px Rubik;
  letter-spacing: 0;
  color: #3D4B66;
  margin: 20px 60px 0 60px;
}
