@import "../../../styles/variables";

    body {
      background-color: #003dcb;
    }

.card {
  &__wrapper {
    position: absolute;
    top: 210px;
    left: calc((100% - 720px) / 2);
    height: 580px;
    max-width: 720px;
    user-select: none;
  }

  &__container {
    position: relative;
    width: 720px;
    height: 480px;
    padding-top: 80px;
    background: var(--white) 0 0 no-repeat padding-box;
    box-shadow: 0 40px 40px var(--dark-gray);
    border-radius: 60px;
  }

  &__containerWrapper {
    position: absolute;
    margin: 0 60px 0 60px;
  }

  &__img {
    position: absolute;
    top: 40px;
    right: 60px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--dark-blue);
  }

  &__text {
    width: 600px;
    height: 153px;
    margin-bottom: 37px;
    word-wrap: break-word;
    font: var(--font-style-bold) var(--font-size-59)/var(--line-spacing-74) var(--font-family-rubik);
    letter-spacing: var(--character-spacing-0);
    color: var(--dark);
    text-align: left;

    &.smallSize {
      font: var(--font-style-bold) 48px/60px Rubik;
    }

    &.microSize {
      font: var(--font-style-bold) 33px/50px Rubik;
    }

    &.nanoSize {
      font: var(--font-style-bold) 22px/35px Rubik;
    }
  }

  &__startText,
  &__endText {
    display: inline;
  }

  &__input {
    height: 60px;
    max-width: 160px;
    padding-left: 20px;
    vertical-align: middle;
    font: var(--font-size-21)/var(--line-spacing-32) var(--font-family-rubik);
    letter-spacing: var(--character-spacing-0);
    background: var(--blue-light-gray) 0 0 no-repeat padding-box;
    border: 1px solid var(--blue-light-gray);
    border-radius: 15px;
    outline: none;

    &.smallSize {
      height: 50px;
    }

    &.microSize,
    &.nanoSize {
      height: 30px;
    }
  }

  &__translateText {
    margin-bottom: 10px;
    width: 600px;
    border-bottom: 1px solid var(--bg-green);
    font: var(--font-size-21)/var(--line-spacing-32) var(--font-family-rubik);
    letter-spacing: var(--character-spacing-0);
    text-align: left;
    color: var(--gray);
  }

  &__wordType {
    width: 600px;
    height: 20px;
    margin: auto auto 55px;
    font: var(--font-size-11)/var(--line-spacing-17) var(--font-family-rubik);
    letter-spacing: var(--character-spacing-0);
    color: var(--gray);
  }

  &__handlers {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__btnWrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__btn {
    &--Delete {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 70px;
      height: 30px;
      font: var(--font-size-15)/var(--line-spacing-32) var(--font-family-rubik);
      letter-spacing: var(--character-spacing-0);
      color: var(--red);
      text-align: left;
      align-items: center;
      cursor: pointer;

      &:hover {
        border-bottom: 2px solid var(--red);
      }
    }

    &--Transfer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 180px;
      height: 30px;
      font: var(--font-size-15)/var(--line-spacing-32) var(--font-family-rubik);
      letter-spacing: var(--character-spacing-0);
      align-items: center;
      color: var(--dark-blue);
      cursor: pointer;

      &:hover {
        border-bottom: 2px solid var(--dark-blue);
      }
    }

    &--ShowAnswer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 170px;
      height: 30px;
      margin-bottom: 10px;
      background: var(--blue-light-gray) 0 0 no-repeat padding-box;
      box-shadow: 0 2px 1px var(--dark-gray);
      border-radius: 15px;
      font: Regular var(--font-size-15)/var(--line-spacing-32) var(--font-family-rubik);
      letter-spacing: var(--character-spacing-0);
      color: var(--blue);
      text-align: center;
      cursor: pointer;

      &:hover {
        background-color: #d0d2d7;
      }
    }
  }

  &__bottomContent {
    margin: 20px 60px 0 60px;
  }

  &__wordTranslate {
    font: var(--font-style-bold) 17px/32px Rubik;
    letter-spacing: 0;
    color: var(--dark);
    text-align: left;
  }

  &__bottomContentBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  &__bottomContentBtnTop,
  &__bottomContentBtnBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }

  &__bottomBtn {
    &--Again,
    &--Hard,
    &--Good,
    &--Easy {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      width: 120px;
      height: 30px;
      min-width: 120px;
      box-shadow: 0 4px 1px #00A8FF1A;
      border-radius: 15px;
      text-align: center;
      font: var(--font-style-bold) var(--font-size-15)/var(--line-spacing-32) var(--font-family-rubik);
      letter-spacing: var(--character-spacing-0);
      color: var(--white);
      cursor: pointer;
    }

    &--Again {
      background: var(--blue) 0 0 no-repeat padding-box;

      &:hover {
        background-color: #0388cb;
      }
    }

    &--Hard {
      background: var(--red) 0 0 no-repeat padding-box;

      &:hover {
        background-color: #cd0166;
      }
    }

    &--Good {
      background: var(--green) 0 0 no-repeat padding-box;

      &:hover {
        background-color: #00d774;
      }
    }

    &--Easy {
      background: var(--dark-blue) 0 0 no-repeat padding-box;

      &:hover {
        background-color: #003dcb;
      }
    }
  }
}

@media (max-width: 719px) {
  .card {
    &__wrapper {
      width: 87%;
      min-width: 280px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__container {
      width: 100%;
      height: auto;
    }

    &__containerWrapper {
      position: static;
      width: 85%;
      margin: auto;
    }

    &__text {
      width: 100%;
      min-width: 240px;
      height: 135px;
      margin: auto;
      font: Bold var(--font-size-42)/var(--line-spacing-47) var(--font-family-rubik);
      letter-spacing: var(--character-spacing-0);

      &.smallSize {
        font: var(--font-style-bold) 31px/47px Rubik;
      }

      &.microSize {
        font: var(--font-style-bold) 21px/32px Rubik;
      }

      &.nanoSize {
        font: var(--font-style-bold) 17px/25px Rubik;
      }
    }

    &__input {
      height: 30px;
      max-width: 140px;

      &.smallSize {
        height: 25px;
        max-width: 120px;
      }

      &.microSize,
      &.nanoSize {
        height: 20px;
        max-width: 100px;
      }
    }

    &__wordType {
      margin-bottom: 20px;
      width: 85%;
    }

    &__translateText {
      width: 85%;
      font: 11px/17px Rubik;
    }

    &__bottomContentBtn {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__bottomContentBtnTop,
    &__bottomContentBtnBottom {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 631px) {
  .card {
    &__wrapper {
      height: 730px;
      min-width: 280px;
    }

    &__container {
      min-width: 280px;
    }

    &__btn {
      &--Delete {
        font: var(--font-size-11)/var(--line-spacing-17) var(--font-family-rubik);
      }

      &--Transfer {
        font: var(--font-size-11)/var(--line-spacing-17) var(--font-family-rubik);
      }

      &--ShowAnswer {
        font: var(--font-size-11)/var(--line-spacing-17) var(--font-family-rubik);
      }
    }

    &__wordTranslate {
      font: var(--font-style-bold) 11px/17px Rubik;
    }

    &__handlers {
      flex-direction: column;
      align-items: center;
    }

    &__btnWrapper {
      margin-bottom: 35px;
    }

    &__bottomContent {
      margin: 20px 60px 0 60px;
    }

    &__bottomBtn {
      &--Again,
      &--Hard,
      &--Good,
      &--Easy {
        font: var(--font-style-bold) var(--font-size-11)/var(--line-spacing-25) var(--font-family-rubik);
      }

      &--Again,
      &--Good {
        margin-right: 10px;
      }
    }
  }
}
