<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="Our-team">
    <div class="container">
      <h1>Наша<br>команда</h1>
      <div class="our-team-wrapper">
        <div class="our-team-item">
          <div class="our-team-item-icon">
            <img src="../../../assets/images/our-team/adam.png" alt="Photo of the developer" />
          </div>
          <div class="our-team-item-info">
            <h3>
              <a href="http://github.com/profile" target="_blank" rel="noopener noreferrer" alt="Github account"></a>Имя фамилия</a>
            </h3>
            <p class="our-team-item-job">Фронтедщик</p>
            <p class="our-team-item-description">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
            </p>
            <div class="our-team-item-socialmedia">
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Facebook.png" alt="Facebook account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Google.png" alt="Google account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Twitter.png" alt="Twitter account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/LinkedIn.png" alt="Linkedin account"></a>
            </div>
          </div>
        </div>
        <div class="our-team-item">
          <div class="our-team-item-icon">
            <img src="../../../assets/bulb.png" alt="Photo of the developer" />
          </div>
          <div class="our-team-item-info">
            <h3> <a href="http://github.com/profile" target="_blank" rel="noopener noreferrer" alt="Github account">Имя фамилия</a></h3>
            <p class="our-team-item-job">Фронтедщик</p>
            <p class="our-team-item-description">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
            </p>
            <div class="our-team-item-socialmedia">
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Facebook.png" alt="Facebook account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Google.png" alt="Google account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Twitter.png" alt="Twitter account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/LinkedIn.png" alt="Linkedin account"></a>
            </div>
          </div>
        </div>
        <div class="our-team-item">
          <div class="our-team-item-icon">
            <img src="../../../assets/heart.png" alt="Photo of the developer" />
          </div>
          <div class="our-team-item-info">
            <h3> <a href="http://github.com/profile" target="_blank" rel="noopener noreferrer" alt="Github account">Имя фамилия</a></h3>
            <p class="our-team-item-job">Фронтедщик</p>
            <p class="our-team-item-description">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
            </p>
            <div class="our-team-item-socialmedia">
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Facebook.png" alt="Facebook account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Google.png" alt="Google account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Twitter.png" alt="Twitter account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/LinkedIn.png" alt="Linkedin account"></a>
            </div>
          </div>
        </div>
        <div class="our-team-item">
          <div class="our-team-item-icon">
            <img src="../../../assets/phone.png" alt="Photo of the developer" />
          </div>
          <div class="our-team-item-info">
            <h3> <a href="http://github.com/profile" target="_blank" rel="noopener noreferrer" alt="Github account">Имя фамилия</a></h3>
            <p class="our-team-item-job">Фронтедщик</p>
            <p class="our-team-item-description">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
            </p>
            <div class="our-team-item-socialmedia">
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Facebook.png" alt="Facebook account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Google.png" alt="Google account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Twitter.png" alt="Twitter account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/LinkedIn.png" alt="Linkedin account"></a>
            </div>
          </div>
        </div>
        <div class="our-team-item">
          <div class="our-team-item-icon">
            <img src="../../../assets/bubble.png" alt="Photo of the developer" />
          </div>
          <div class="our-team-item-info">
            <h3> <a href="http://github.com/profile" target="_blank" rel="noopener noreferrer" alt="Github account">Имя фамилия</a></h3>
            <p class="our-team-item-job">Фронтедщик</p>
            <p class="our-team-item-description">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
            </p>
            <div class="our-team-item-socialmedia">
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Facebook.png" alt="Facebook account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Google.png" alt="Google account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Twitter.png" alt="Twitter account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/LinkedIn.png" alt="Linkedin account"></a>
            </div>
          </div>
        </div>
        <div class="our-team-item">
          <div class="our-team-item-icon">
            <img src="../../../assets/star.png" alt="Photo of the developer" />
          </div>
          <div class="our-team-item-info">
            <h3> <a href="http://github.com/profile" target="_blank" rel="noopener noreferrer" alt="Github account">Имя фамилия</a></h3>
            <p class="our-team-item-job">Фронтедщик</p>
            <p class="our-team-item-description">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
            </p>
            <div class="our-team-item-socialmedia">
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Facebook.png" alt="Facebook account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Google.png" alt="Google account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/Twitter.png" alt="Twitter account"></a>
                <a href="http://" target="_blank" rel="noopener noreferrer"><img src="../../../assets/images/our-team/socialmedia/LinkedIn.png" alt="Linkedin account"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>